<div class="card" style="width: 24rem;">
    <div class="card-body">
      <h5 class="card-title">Leaderboard Tournament (TOP 5)</h5>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Juara 1: Team SONIC</li>
        <li class="list-group-item">Juara 2: TEAM ESPOST</li>
        <li class="list-group-item">Juara 3: RRQIU</li>
        <li class="list-group-item">Juara 4: ALTAR-EGOIST</li>
        <li class="list-group-item">Juara 5: SERIGALA-MENGGILA</li>
    </ol>
    </div>
</div>