<div class="card" style="width: 24rem;">
    <div class="card-body">
      <h5 class="card-title">Jadwal Pertandingan Antar Team:</h5>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Senin: Jam 08:00 - 10:00</li>
        <li class="list-group-item">Selasa: Jam 12:00 - 15:00</li>
        <li class="list-group-item">Rabu: Jam 19:00 - 21:00</li>
        <li class="list-group-item">Kamis: Jam 21:00 - 23:30</li>
        <li class="list-group-item">Jumat: Jam 19:00 - 21:00</li>
        <li class="list-group-item">Sabtu: Jam 19:00 - 21:00</li>
    </ol>
    </div>
</div>